InventarioService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.inventario.ferreteria.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.inventario.ferreteria.com/" name="InventarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.inventario.ferreteria.com/" schemaLocation="http://localhost:8080/InventarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarStock">
<part name="parameters" element="tns:actualizarStock"/>
</message>
<message name="actualizarStockResponse">
<part name="parameters" element="tns:actualizarStockResponse"/>
</message>
<message name="verificarEstado">
<part name="parameters" element="tns:verificarEstado"/>
</message>
<message name="verificarEstadoResponse">
<part name="parameters" element="tns:verificarEstadoResponse"/>
</message>
<message name="consultarArticulo">
<part name="parameters" element="tns:consultarArticulo"/>
</message>
<message name="consultarArticuloResponse">
<part name="parameters" element="tns:consultarArticuloResponse"/>
</message>
<message name="insertarArticulo">
<part name="parameters" element="tns:insertarArticulo"/>
</message>
<message name="insertarArticuloResponse">
<part name="parameters" element="tns:insertarArticuloResponse"/>
</message>
<portType name="InventarioWebService">
<operation name="actualizarStock">
<input wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/actualizarStockRequest" message="tns:actualizarStock"/>
<output wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/actualizarStockResponse" message="tns:actualizarStockResponse"/>
</operation>
<operation name="verificarEstado">
<input wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/verificarEstadoRequest" message="tns:verificarEstado"/>
<output wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/verificarEstadoResponse" message="tns:verificarEstadoResponse"/>
</operation>
<operation name="consultarArticulo">
<input wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/consultarArticuloRequest" message="tns:consultarArticulo"/>
<output wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/consultarArticuloResponse" message="tns:consultarArticuloResponse"/>
</operation>
<operation name="insertarArticulo">
<input wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/insertarArticuloRequest" message="tns:insertarArticulo"/>
<output wsam:Action="http://ws.inventario.ferreteria.com/InventarioWebService/insertarArticuloResponse" message="tns:insertarArticuloResponse"/>
</operation>
</portType>
<binding name="InventarioPortBinding" type="tns:InventarioWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InventarioService">
<port name="InventarioPort" binding="tns:InventarioPortBinding">
<soap:address location="http://localhost:8080/InventarioService"/>
</port>
</service>
</definitions>